Django
djangorestframework
django-cors-headers

gunicorn
whitenoise
python-dotenv

google-generativeai
langchain-community
langchain-google-genai

faiss-cpu

pypdf
PyPDF2
pdf2image
pytesseract
python-docx
Pillow